OSS_icr_SOVT2_94H_v13_short.xml
OSS_icr_SOVT2_94H_v13_short.xml_2023060_nisp.dat
OSS_icr_SOVT2_94H_v13_short.xml_2023060_nisp.dat.html
OSS_icr_SOVT2_94H_v13_short.xml_2023060_vis.dat
OSS_icr_SOVT2_94H_v13_short.xml_2023060_vis.dat.html
OSS_icr_SOVT2_94H_v13_short.xml.dat
data.json
oss.csv
oss.json
db
OK
NOK
db/*
OK/*
NOK/*
pv
pv/*
ts
ts/*
__pycache__
__pycache__/*
.ipynb_checkpoints
.ipynb_checkpoints/*
flagged
flagged/*